.container {
  padding: 0 3rem;
  text-align: center;
  line-height: 1.4;
}

.header {
  display: flex;
  font-size: 3rem;
  margin: 100px 0 20px;
  color: navy;
  line-height: 1;
  justify-content: center;
  align-items: center;

  img {
    max-width: 50%;
    max-height: 280px;
    align-self: flex-start;
    height: 130px;
  }

  div {
    padding-left: 30px;

    h1 {
      font-size: 36px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: rgba(69, 69, 149, 0.486);
      margin-bottom: 16px;

      span:nth-child(1) {
        font-size: 56px;
        color: navy;
      }
    }

    p {
      color: rgba(69, 69, 149, 0.486);
      font-size: 26px;
      text-align: left;
      line-height: 34px;

      a {
        text-decoration-thickness: 1px;
        color: rgba(0, 128, 128, 0.692);
        text-underline-offset: 2px;
        font-size: 30px;
        transition: all 250ms ease-in-out;

        &:hover {
          color: teal !important;
          text-shadow: 0 0 20px rgba(132, 216, 174, 0.541);
        }

        &:visited {
          color: teal;
        }
      }
    }
  }
}

.separator {
  width: 70%;
  margin: 2rem auto;
  height: 0.4rem;
  background: linear-gradient(
    to right,
    transparent,
    lavenderblush 10% 90%,
    transparent
  );
}
