.container {
  text-align: center;
  line-height: 1.4;
}

.figuresContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80ch;
  margin: 0 auto;
}

.figure {
  display: inline-block;

  img {
    height: 4rem;
    margin: 0 auto 10px;
    cursor: pointer;
    display: block;
  }
}

.separator {
  width: 70%;
  margin: 60px auto;
  height: 0.4rem;
  background: linear-gradient(
    to right,
    transparent,
    rgba(192, 121, 162, 0.151) 10% 90%,
    transparent
  );
}
