.container {
  text-align: center;
  line-height: 1.4;

  p {
    color: rgba(69, 69, 149, 0.486);
    font-size: 22px;
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 40px;
  }
}

.figuresContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80ch;
  margin: 0 auto;
}

.figure {
  display: inline-block;

  img {
    height: 4rem;
    margin: 0 auto 10px;
    cursor: pointer;
    display: block;
  }
}

.separator {
  width: 70%;
  margin: 60px auto 30px;
  height: 0.4rem;
  background: linear-gradient(
    to right,
    transparent,
    rgba(192, 121, 162, 0.151) 10% 90%,
    transparent
  );
}
