@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Raleway:wght@300;400&family=Work+Sans:wght@300;400;600&display=swap');

/* 
nav: raleway 300
body: work sans 300 400 600
*/

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
  padding-bottom: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family:
    'work sans',
    'trebuchet ms',
    -apple-system,
    BlinkMacSystemFont,
    verdana,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
}
